@import "vars";
@import "libs";
@import "fonts";
@import "global";

/*-------------header-------------*/
.header {
    text-align: center;
}

.header__logo {
    padding: 88px 0 60px;
}

.menu {
    border-top: 2px solid #c4c4c4;
}

.menu__list {
    display: flex;
    justify-content: center;
}

.menu__list-item {
    width: 300px;
    &:first-child {
        border-left: 1px solid #c4c4c4;
    }
    &:last-child {
        border-right: 1px solid #c4c4c4;
    }
}

.menu__list-link {
    font-size: 24px;
    line-height: 28px;
    color: #888888;
    display: block;
    padding: 34px 10px;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    transition: all .3s;
    &--active,
    &:hover {
        color: #fff;
        background-color: #000;
    }
}

/*-------------/header-------------*/

/*-------------section .slider-------------*/
.slider__item {
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.slick-arrow {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 5;
    transform: translateY(-50%);
}

.slider-arrows__right {
    left: 20px;
}

.slider-arrows {
    right: 20px;
}

/*-------------/section .slider-------------*/

/*-------------section .search-------------*/
.search__inner {
    padding: 60px 0 70px;
}

.search__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__form-label {
    font-size: 24px;
    line-height: 24px;
    color: #888888;
    width: 156px;
    height: 48px;
    margin-right: 69px;
}

.search__form-input {
    color: #888;
    padding: 0 15px;
    height: 70px;
    border: 2px solid #c4c4c4;
    width: 430px;
    &::placeholder {
        color: #888;
        font-size: 18px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        line-height: 24px;
    }
}

.search__form-btn {
    border: none;
    background-color: #c4c4c4;
    color: #fff;
    padding: 24px 23px 19px 36px;
    font-size: 24px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        top: 26px;
        left: 9px;
        background-image: url(../images/search-button-icon.svg);
    }
}

/*-------------/section .search-------------*/

/*-------------section .popular-------------*/
.popular {
    text-align: center;
}

.popular__title {
    background-color: #000;
    color: #fff;
    padding: 18px 15px;
    font-size: 48px;
    line-height: 64px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    margin: 0;
}

.popular__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    flex-wrap: wrap;
}

.popular__img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
}

.popular__item-title {
    padding: 30px 15px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: #888;
}

.popular__link {
    background: #C4C4C4;
    padding: 13px 48px;
    color: #fff;
    transition: 0.2s linear;
    &:hover {
        background-color: #000;
    }
}

/*-------------/section .popular-------------*/

/*-------------section .reason-------------*/
.reason {
    padding: 100px 0;
}

.reason__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reason__item {
    width: 470px;
}

.reason__title {
    font-size: 36px;
    line-height: 36px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    margin-bottom: 20px;
    padding-left: 136px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 103px;
        height: 103px;
    }
    &--icon-1::before {
        background-image: url(../images/reason-clock.svg);
        background-repeat: no-repeat;
    }
    &--icon-2::before {
        background-image: url(../images/reason-earth.svg);
        background-repeat: no-repeat;
    }
}

.reason__text {
    margin-bottom: 42px;
}

.reason__link {
    color: #888;
    padding-left: 36px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: -4px;
        left: 0;
        width: 30px;
        height: 30px;
        background-image: url(../images/reason-link-img.svg);
    }
}

/*-------------/section .reason-------------*/

/*-------------section .best-------------*/
.best {
    background-image: url(../images/best-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    text-align: right;
}

.best__title {
    max-width: 457px;
    font-weight: 400;
    font-family: 'PT Serif', serif;
    font-size: 48px;
    line-height: 48px;
    color: #fff;
    padding-top: 68px;
    margin-left: auto;
    padding-bottom: 15px;
}

.best__link {
    color: #fff;
    background-color: #000;
    padding: 16px 18px;
    display: inline-block;
    cursor: pointer;
}

/*-------------/section .best-------------*/

/*-------------section .about-------------*/
.about {
    background-color: #000;
    padding: 100px 0;
    color: #fff;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.our-managers__title {
    margin-bottom: 27px;
}

.about__title {
    margin-bottom: 47px;
    font-weight: 400px;
    font-family: 'PT Serif', serif;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

.our-managers {
    width: 297px;
}

.our-managers__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.our-managers__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 22px;
}

.our-managers__list {
    line-height: 21px;
    margin-bottom: 43px;
}

.our-manager__btn {
    border: none;
    color: #000;
    background-color: #fff;
    padding: 16px 21px;
    line-height: 18px;
    cursor: pointer;
    transition: .2s linear;
    &:hover {
        background-color: #888;
    }
}

.blog {
    width: 411px;
}

.blog__link {
    color: #fff;
    margin-bottom: 28px;
    line-height: 18px;
    padding-left: 67px;
    position: relative;
    cursor: pointer;
    &::before {
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        top: -4px;
        left: 0;
        background-image: url(../images/about-link_img.svg);
    }
}

.reviews {
    width: 300px;
}

.reviews__img {
    max-width: 280px;
    height: 127px;
    margin-bottom: 22px;
}

.reviews__text {
    margin-bottom: 22px;
    line-height: 21px;
}

.reviews__link {
    color: #000;
    background-color: #fff;
    padding: 16px 28px;
    transition: .2s linear;
    &:hover {
        background-color: #888;
    }
}

/*-------------/section .about-------------*/

/*-------------footer .footer-------------*/
.footer__top {
    padding: 100px 0;
    background-color: #000;
    color: #fff;
}

.footer__top-inner {
    display: flex;
}

.footer__menu-list {
    width: 250px;
    margin-right: 50px;
}

.footer__menu-link {
    font-size: 24px;
    color: #fff;
    line-height: 36px;
}

.footer__form-label {
    line-height: 18px;
    color: #888;
    margin-right: 10px;
}

.footer__form {
    display: flex;
    align-items: center;
}

.footer__form-input {
    display: block;
    width: 570px;
    height: 70px;
    background-color: #fff;
    border: none;
    padding: 0 15px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #888;
    &::placeholder {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        line-height: 24px;
        color: #888;
    }
}

.footer__form-btn {
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: #c4c4c4;
    padding: 25px 35px;
}

.footer__logo {
    padding: 3px 0 23px;
    text-align: center;
}

/*-------------/footer .footer-------------*/

@import "media";